<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
 <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="jumbotron">
  <div class="container" background-image src="images/theater-at-night.jpeg">
    <img src="/images/theater-at-night.jpeg">
  </div>
</div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> <i class="fa fa-film fa-2x"></i></p>
     <h3>Please log in below or  <a href="/user/register">register</a> for a new account</h3>


    <form method="POST" action="/user/login" id="loginForm">
      <div class="formfield">
        <div class="formfield--prompt"> <i class="fa fa-user"></i> Username:
        </div>
        <input type="text" id="username" name="username">
        </div>
        <div class="formfield">
        <div class="formfield--prompt"><i class="fa fa-key fa-fw"></i> Password:</div>
        <input type="password" id="password" name="password">
      </div>
      <input class="submitButton" type="submit"></input>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- // <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>
