<!DOCTYPE html>
<html>
	<head>
		<title>Register Page</title>
		<link rel='stylesheet' href='/stylessheets/style.css'>
	</head>
	<body>

		<h1>Register Your Movie Agenda</h1>













	</body>
</html>
